.about {
    position: relative;
}
.about-card {
    height: 100vh;
    background-color: $carnation;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.about-card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
}
.about-fixed {
    position: fixed;
}
.about-bottom {
    top: 100%;
    transform: translateY(-100%);
}
.about-content {
    padding: 96px;
    padding-left: calc(50% + 96px);
    min-height: 2000px;
}
.about-skills {
    display: none;
    padding-top: 100px;
    //padding: 20px 0;
}
.as-item {
    padding: 0 15px;
    text-align: center;
    display: inline-block;
}
.as-icon {
    height: 55px;
    margin-bottom: 5px;
    animation: 1.5s icon-float;
    animation-iteration-count: infinite;
}
.as-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
    display: block;
}
.aintro-title-mini {
    color: $black;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.aintro-text {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@keyframes icon-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

@include breakpoint(tablet) {
    .about-card {
        position: relative;
        width: 100%;
    }
    .about-content {
        padding: 48px;
    }
}

@include breakpoint(phone) {
    .about-card {
        position: relative;
        width: 100%;
    }
    .about-content {
        padding: 24px;
    }
}