.about {
    position: relative;
}
.about-card {
    min-height: 100vh;
    background-color: $carnation;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.about-card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
}
.about-fixed {
    position: fixed;
}
.about-bottom {
    top: 100%;
    transform: translateY(-100%);
}
.about-content {
    padding: 96px;
    padding-left: calc(50% + 96px);
    padding-bottom: calc(96px + 53px);
    min-height: 130vh;
}
.about-journey {
    margin-bottom: 70px;
}
.about-title {
    color: $black;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.about-text {
    color: $black;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.about-git {
    position: absolute;
    left: calc(50% + 96px);
    bottom: 96px;
}
.about-git-title {
    color: $black;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}
.about-link {
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    display: inline-block;
    color: $carnation;
    &:hover {
        text-decoration: none;
    }
}

@include breakpoint(tablet) {
    .about-card {
        position: relative;
        width: 100%;
    }
    .about-content {
        padding: 48px;
        padding-bottom: calc(48px + 53px);
    }
    .about-git {
        left: 48px;
        bottom: 48px;
    }
}

@include breakpoint(phone) {
    .about-card {
        position: relative;
        width: 100%;
    }
    .about-content {
        padding: 35px;
        padding-bottom: calc(35px + 75px);
    }
    .about-git {
        left: 35px;
        bottom: 35px;
    }
}