.banner {
    background-color: $mine-shaft;
    text-align: center;
    overflow: hidden;
    padding-top: 40vh;
    position: relative;
    height: 100vh;
}
.banner-title {
    color: $white;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}
.banner-name,
.banner-surname {
    display: block;
}
.banner-name {
    animation: 1.5s slidein-left;
}
.banner-surname {
    color: $carnation;
    animation: 1.5s slidein-right;
}
.banner-subtitle {
    color: $white;
    opacity: 0;
    display: block;
    text-align: center;
}
.banner-arrow {
    display: none;
    font-size: 28px;
    color: $white;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    animation: 1.5s banner-arrow;
    animation-iteration-count: infinite;
}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes banner-arrow {
    0% {
        bottom: 45px;
    }
    50% {
        bottom: 55px;
    }
    100% {
        bottom: 45px;
    }
}