.banner {
    background-color: $mine-shaft;
    text-align: center;
    overflow: hidden;
    //padding-top: 40vh;
    position: relative;
    height: 100vh;
}
.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mine-shaft;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}
.banner-name {
    animation: 1.5s slidein-left;
}
.banner-surname {
    color: $carnation;
    animation: 1.5s slidein-right;
}
.banner-subtitle {
    color: $white;
    opacity: 0;
    display: block;
    display: none;
    text-align: center;
}
.banner-arrow {
    display: none;
    font-size: 28px;
    color: $white;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    animation: 1.5s banner-arrow;
    animation-iteration-count: infinite;
}
.banner-img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.svg-banner-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
    height: 415px;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.banner-content {
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -79%);
    width: 52%;
    height: 58%;
    z-index: 2;
}
.banner-content-block {
    display: none;
    height: 100%;
    padding: 15px;
    //display: inline-block;
    width: 50%;
    vertical-align: top;
}
.banner-content-block:nth-child(1) {
    padding-right: 7px;
}
.banner-content-block:nth-child(2) {
    padding-left: 7px;
}
.banner-content-block-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: transparent;
    border-radius: 7px;
}
.banner-code {
    display: block;
    width: 100%;
    color: #535461;
    font-size: 32px;
    line-height: 35px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-html {
    display: none;
}
.banner-css,
.banner-js {
    display: none;
}
.banner-alternate-container {
    display: none;
    @extend %clearfix;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 7px;
    transform: translateX(-50%);
    background-color: $white;
}
.alternate-h {
    height: auto;
    min-height: 100%;
}
.alternate-scroll {
    top: 100%;
    transform: translate(-50%, -100%);
    transition: 2s;
}
.bac-color {
    background-color: $mine-shaft;
    transition: 0.3s;
}
.bac-line {
    margin-bottom: 13px;
    margin-left: 2%;
    float: left;
    position: relative;
    width: 80%;
    height: 7px;
    background-color: $mine-shaft;
    border-radius: 5px;
}
.bac-line-color {
    background-color: $carnation;
    transition: 0.3s;
}
.bac-line:nth-child(1) {
    margin-top: 13px;
}
.bac-line-wide {
    width: 95%;
}
.bac-btn {
    width: 30%;
    height: 10px;
}
.fake-btn-color {
    background-color: #F6AC04;
    transition: 0.3s;
}
#orange-pen,
#blue-pen,
#yellow-pen {
    transition: 0.3s;
}
.pen-slide {
    transform: translateY(-20px);
    transition: 0.3s;
}


@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes banner-arrow {
    0% {
        bottom: 45px;
    }
    50% {
        bottom: 55px;
    }
    100% {
        bottom: 45px;
    }
}

@include breakpoint(tablet) {
    .banner-title {
        font-size: 7vw;
        line-height: 7vw;
    }
}

@include breakpoint(phone) {
    .banner-title {
        font-size: 7vw;
        line-height: 7vw;
    }
    .banner-content-block {
        padding: 8px;
    }
    .banner-code {
        font-size: 18px;
    }
    .bac-line {
        height: 5px;
        margin-bottom: 7px;
    }
}