.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    display: block;
    background-color: transparent;
    z-index: 10;
}
.nav-btn {
    width: 40px;
    height: 37px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    position: relative;
    z-index: 15;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.nav-btn-icon {
    position: absolute;
    top: 17px;
    left: 0.8px;
    height: 4px;
    width: 38px;
    background-color: $white;
    &::before {
        content: '';
        position: absolute;
        top: -9px;
        left: 0;
        height: 4px;
        width: 38px;
        background-color: $white;
    }
    &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        height: 4px;
        width: 38px;
        background-color: $white;
    }
}
.navigation {
    background-color: $black;
    position: absolute;
    top: 0;
    right: 100vw;
    height: 100vh;
    width: 100vw;
    transition: 0.2s;
    z-index: 12;
}
.nav-show {
    right: calc(100% - 100vw);
    transition: 0.2s;
}
.nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-item {
    text-align: center;
    margin: 23px 0;
}
.nav-link {
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    &:hover {
        color: $carnation;
        transition: 0.2s;
    }
}