.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 71px;
    display: none;
    background-color: transparent;
    z-index: 10;
}
.nav-btn {
    position: relative;
    padding: 0;
    border: none;
    height: 53px;
    width: 46px;
    background-color: transparent;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
    z-index: 13;
    transition: 0.5s;
    &:focus {
        outline: none;
    }
}
.nav-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px; 
    height: 26.56px;
    background-color: $carnation;
    margin: 13.28px 0;
    &::before {
        content: "";
        position: absolute;
        width: 0;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        bottom: 100%;
        left: 0;
        border-bottom: 13.28px solid $carnation;
    }
    &::after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        left: 0;
        top: 100%;
        width: 0;
        border-top: 13.28px solid $carnation;
    }
}
.nav-btn-icon-span {
    position: absolute;
    top: 12px;
    left: 8px;
    height: 3px;
    width: 30px;
    background-color: $white;
    transition: 0.2s;
    &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: $white;
        transition: 0.2s;
    }
    &::after {
        content: '';
        position: absolute;
        top: -8px;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: $white;
        transition: 0.2s;
    }
}
.nav-icon-span-active {
    background-color: transparent;
    transition: 0.2s;
    &::before {
        top: 0;
        transform: rotate(45deg);
        transition: 0.2s;
    }
    &::after {
        top: 0;
        transform: rotate(-45deg);
        transition: 0.2s;
    }
}
.navigation {
    background-color: $mine-shaft;
    position: absolute;
    top: 0;
    right: 100vw;
    height: 100vh;
    width: 100vw;
    transition: 0.3s;
    z-index: 12;
}
.nav-show {
    right: calc(100% - 100vw);
    transition: 0.3s;
}
.nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-item {
    text-align: center;
    margin: 23px 0;
}
.nav-link {
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    &:hover {
        color: $carnation;
        transition: 0.2s;
    }
}