.work {
    position: relative;
}
.work-card {
    height: 100vh;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.work-card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $black;
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
}
.work-fixed {
    position: fixed;
}
.work-bottom {
    top: 100%;
    transform: translateY(-100%);
}
.work-content {
    padding-left: 50%;
    overflow: hidden;
    //min-height: 2000px;
}
.work-item {
    @extend %bc-img;
    position: relative;
    height: 100vh;
}
.work-main-btn {
    padding: 0;
    width: 70px;
    height: 70px;
    visibility: visible;
    opacity: 1;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        .work-main-icon {
            color: rgba($mine-shaft, 1);
            transition: 0.3s;
        }
    }
    &:focus {
        outline: none;
    }
}
//////////////
.work-main-btn-text {
    color: $white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-btn-hidden {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.work-close-btn {
    padding: 0;
    visibility: hidden;
    opacity: 0;
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: 0.5s;
    &:focus {
        outline: none;
    }
}
.work-close-icon {
    position: absolute;
    top: -24px;
    left: -2px;
    font-size: 68px;
    color: $carnation;
    background-color: transparent;
    transition: 0.3s;
}
.work-close-btn-span {
    position: absolute;
    top: 13px;
    left: 8px;
    height: 3px;
    width: 30px;
    background-color: $white;
    transform: rotate(45deg);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: $white;
        transform: rotate(90deg);
    }
}
.close-btn-visible {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.work-item-content {
    display: none;
}
//Hexagon idea from: http://jtauber.github.io/articles/css-hexagon.html
.hex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 34px;
    background-color: $mine-shaft;
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 20px solid $mine-shaft;
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
        position: absolute;
        top: -20px;
        left: 0;
    }
    &::after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -20px;
        left: 0;
        border-top: 20px solid $mine-shaft;
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
    }
}
.hex-mini {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 46px;
    height: 28px;
    background-color: $carnation;
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 15px solid $carnation;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        position: absolute;
        top: -15px;
        left: 0;
    }
    &::after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -15px;
        left: 0;
        border-top: 15px solid $carnation;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
    }
}

@include breakpoint(tablet) {
    .work-card {
        position: relative;
        width: 100%;
    }
    .work-content {
        padding-left: 0;
    }
}

@include breakpoint(phone) {
    .work-card {
        position: relative;
        width: 100%;
    }
    .work-content {
        padding-left: 0;
    }
}