.work {
    position: relative;
}
.work-card {
    height: 100vh;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.work-card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $black;
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
}
.work-fixed {
    position: fixed;
}
.work-bottom {
    top: 100%;
    transform: translateY(-100%);
}
.work-content {
    padding-left: 50%;
    min-height: 2000px;
}
.work-item {
    @extend %bc-img;
    position: relative;
    height: 100vh;
}
.work-main-btn {
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
    padding: 10px 23px;
    border: 1px solid $white;
    background-color: rgba($mine-shaft, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: rgba($mine-shaft, 1);
        transition: 0.3s;
    }
    &:focus {
        outline: none;
    }
}
.main-btn-hidden {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.work-close-btn {
    visibility: hidden;
    opacity: 0;
    border: none;
    height: 45px;
    width: 45px;
    background-color: $carnation;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: 0.5s;
    &:focus {
        outline: none;
    }
}
.close-btn-visible {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.work-item-content {
    display: none;
}